img {
    width: 100%;
}
.error-message {
    display: block;
    margin: 0 auto;
    text-align: center;
    background: url(../../img/game_thrones.jpg) center (center / cover) no-repeat ;
    color: #fff;
    font-size: 25px;
}