@keyframes ldio-3e2ku3ly1em {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .ldio-3e2ku3ly1em div {
    position: absolute;
    animation: ldio-3e2ku3ly1em 1s linear infinite;
    margin: 0 auto;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #375567;
    transform-origin: 80px 82px;
  }
  
  .loadingio-spinner-eclipse-yzydcv8iw2 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
    margin: 0 auto;
  }
  
  .ldio-3e2ku3ly1em {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
  
    /* see note above */
  }