.item-list {
    height: 500px;
    overflow-y: scroll;

    .list-group-item {
        background-color: #fff;
        // margin-top: 10px;
        cursor: pointer;
        
    }
    h4 {
        text-align: center;
    }
}